<!DOCTYPE html>
<html lang="es">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clasificación {{ lliga.nom }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="classificacio-page">
      <h1>Clasificación {{ lliga.nom }}</h1>

      <table>
        <thead>
          <tr>
            <th>Equipo</th>
            <th>Pts</th>
            <th>G</th>
            <th>E</th>
            <th>P</th>
            <th>GF</th>
            <th>GC</th>
          </tr>
        </thead>
        <tbody>
          {% for item in classificacio %}
          <tr>
            <td class="equip" data-label="Equipo">
              <a href="{% url 'equip_detall' item.equip.id %}">
                {{ item.equip.nom }}
              </a>
            </td>
            <td data-label="Pts">{{ item.punts }}</td>
            <td data-label="G">{{ item.guanyats }}</td>
            <td data-label="E">{{ item.empatats }}</td>
            <td data-label="P">{{ item.perduts }}</td>
            <td data-label="GF">{{ item.gf }}</td>
            <td data-label="GC">{{ item.gc }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="button-div">
        <a class="enlace" href="{% url 'menu' %}">Volver</a>
        <a class="enlace" href="{% url 'golejadors' lliga.id %}">Golejadors</a>
        <a class="enlace" href="{% url 'taula_partits' lliga.id %}">
          Taula de Partits
        </a>
        <a class="enlace" href="{% url 'classificacio_porters' lliga.id %}">
          Porters
        </a>
      </div>
    </div>
  </body>
</html>
