<!DOCTYPE html>
<html lang="es">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ jugador.nom }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="jugador-page">
      <div class="card">
        {% if jugador.foto %}
        <img src="{{ jugador.foto.url }}" alt="{{ jugador.nom }}" />
        {% else %}
        <img
          src="{% static 'img/default_player.png' %}"
          alt="Jugador sin foto"
        />
        {% endif %}

        <h2>{{ jugador.nom }}</h2>

        <p>
          <strong>Equip:</strong>
          <a href="{% url 'equip_detall' jugador.equip.id %}"
            >{{ jugador.equip.nom }}</a
          >
        </p>
        <p><strong>Posició:</strong> {{ jugador.get_posicio_display }}</p>
        <p><strong>Dorsal:</strong> {{ jugador.dorsal }}</p>
        <p><strong>Nacionalitat:</strong> {{ jugador.nacionalitat }}</p>

        {% if jugador.posicio == "PT" %}
        <p><strong>Gols encaixats:</strong> {{ jugador.gols_encaixats }}</p>
        {% else %}
        <p><strong>Gols marcats:</strong> {{ jugador.gols_marcats }}</p>
        {% endif %}

        <div class="stats">
          <div>
            <strong>Partits jugats</strong><br />
            {{ jugador.partits_jugats }}
          </div>
          <div>
            <strong>🟨</strong><br />
            {{ jugador.targetes_grogues }}
          </div>
          <div>
            <strong>🟥</strong><br />
            {{ jugador.targetes_vermelles }}
          </div>
        </div>
      </div>

      <div class="centerJugador">
        <a href="{% url 'equip_detall' jugador.equip.id %}" class="back">
          Tornar a l'equip
        </a>
      </div>
    </div>
  </body>
</html>
