<!DOCTYPE html>
<html lang="es">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>Menú Lliga</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body class="menu-lliga-body">
    <form method="post" class="menu-lliga-form">
      <h1 class="menu-lliga-title">Menú Lliga</h1>
      {% csrf_token %} {{ form.as_p }}
      <input
        type="submit"
        value="Veure classificació"
        class="menu-lliga-submit"
      />
    </form>
  </body>
</html>
