<!DOCTYPE html>
<html lang="ca">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taula de Partits - {{ lliga.nom }}</title>
    <!-- Enlace al CSS general -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body class="container">
    <!-- Título -->
    <h2 class="classificacio-page">Taula de Partits - {{ lliga.nom }}</h2>

    <table class="classificacio-page taula-partits">
      <thead>
        <tr>
          {% for cell in resultats.0 %}
          <th>{{ cell }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in resultats|slice:"1:" %}
        <tr>
          {% for cell in row %}
          <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="taula-partits-buttons classificacio-page">
      <a href="{% url 'classificacio' lliga.id %}" class="back">
        Tornar a la classificació
      </a>
    </div>
  </body>
</html>
